.contacts-header {
  width: 100%;
  
  height: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 64px;
  left: 0;
  background: #aaff00;
  font-size: 12px;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.979);
  padding: 0 1rem;
  z-index: 8;
}
.header-contact{
    padding-left: 10px;
    color: inherit;
    font-size: 12px;
  color: black;

}
.header-contact:hover{
    color: rgb(0, 0, 0);

}
a{
    color: black;
    text-decoration: underline;
}
a:link {
  color: rgb(255, 255, 255);
}



a:active {
  color: rgb(93, 93, 93);
}
main {
  margin-top: 7rem;
}

@media (min-width: 768px){
    .contacts-header{
         width: 100%;

  height: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 64px;
  left: 0;
  font-size: 16px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.979);
  padding: 0 1rem;
  z-index: 5;
    }
    .header-contact{
    padding-left: 100px;
    color: inherit;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
}