.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  background: rgb(52, 51, 51);
  border-radius: 10px;
  overflow: hidden;
  
}


.flex{
  display: flex;
}
@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card:hover {
    box-shadow: 0 26px 26px rgba(215, 215, 215, 0.3);

  
}
.card-content{
 
  
  padding: 1px;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;

}
.modal-content{
  display: flex;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
}
.card-image {
  margin: 3%;
  margin-top: 8%;

  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-in-out;
}

.card-image:hover {
  transform: scale(1.3);
}


.card-title {
  background-color: #aaff00;
  font-size: 1.2rem;
  color: #000000;
  margin: 0;
}

.card-text {
  background-color: black;

  font-size: 0.8rem;
  font-weight: lighter;
  margin: 0 0 0.5rem 0;
}



.card-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #000000;
  color: #fff;
  border: none;
  font-family: Arial,sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.card-button2 {
  display: block;
  font-family: Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.card-button2:hover {
  background-color: #aaff00;
}
.card-button:hover {
  color: #000000;
  background-color: #aaff00;
}


@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}


@media (max-width: 767px) {
  .card-container {
    display: block;
    flex-direction: column;
    overflow-x: auto;
  }
.modal-content{
  display: flex;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
}
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
